{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
    <h1>Dashboard</h1>
    <p>Select dates</p>
    <form action="/get_charts" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="start" placeholder="start date" required type="date">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="end" placeholder="end date" required type="date">
        </div>
         <button class="btn btn-primary" name="addExpense" type="submit">submit</button>
    </form>

    <h1>plot</h1>
    <img src="{{ chart }}">

    <h1>bar</h1>
    <img src="{{ bar }}">

    <h1>Pie</h1>
    <img src="{{ pie }}">
{% endblock %}