{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
    <h1>Dashboard</h1>
    <p>Select dates</p>
    <form action="/get_charts" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="start" placeholder="start date" required type="date">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="end" placeholder="end date" required type="date">
        </div>
         <button class="btn btn-primary" name="addExpense" type="submit">submit</button>
    </form>
    <img src="{{ chart }}">


     <!-- Table to show user expense transactions-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Category</th>
                <th>Date</th>
                <th>Amount(CHE)</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in transactions %}
            <tr>
                <td>
                    {{ trans.type }}
                </td>
                <td>
                    {{ trans.category }}
                </td><td>
                    {{ trans.date }}
                </td><td>
                    {{ trans.day_tot }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}