{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
    <h1>{{ user.username }} Dashboard</h1>


    <!-- Acordian: Filter -->
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">

            <!-- Acordion head-->
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Filters
            </button>
            </h2>

            <!-- Acordion body-->
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    
                    <!-- Filter -->
                    <form action="/get_charts" method="post">

                        <!-- Filter: dates -->
                        <p>Dates</p>
                        <!-- Start -->
                        <div class="mb-3">
                            <input autocomplete="off" class="form-control" name="filter-start" placeholder="start date" type="date">
                        </div>

                        <!-- End -->
                        <div class="mb-3">
                            <input autocomplete="off" class="form-control" name="filter-end" placeholder="end date" type="date">
                        </div>

                        <!-- Account -->
                         <p>Account</p>
                        <dic class="mb-3">
                            <select class="form-control" name="filter-account-id">
                                <option value="">
                                    Please Select
                                </option>
                                {% for account in accounts %}
                                    <option value="{{ account.id }}">{{ account.account_name }}</option>
                                {% endfor %}
                            </select>
                        </dic>

                        <!-- Type -->
                        <p>Type</p>
                        <dic class="mb-3">
                            <select class="form-control" name="filter-type">
                                <option value="">
                                    Please Select
                                </option>
                                {% for type in types %}
                                    <option value="{{ type }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </dic>

                        <!-- Category -->
                        <p>Category</p>
                        <dic class="mb-3">
                            <select class="form-control" name="filter-category">
                                <option value="">
                                    Please Select
                                </option>
                                {% for Category in Categories %}
                                    <option value="{{ type }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </dic>

                        <!-- Submit -->
                        <button class="btn btn-primary" name="dashboard-filter" type="submit">submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <!-- Table: Account Balance -->
     <h3>Accounts</h3>
     <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Account
                </th>
                <th>
                    Balance
                </th>
            </tr>
        </thead>

        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>
                        {{ account.account_name}}
                    </td>
                    <td>
                        {{ account.balance_cents}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
     </table>



    <!-- Table: Last 5 transactions -->
     <h3>Recent Transactions</h3>
    <table class="table table-striped">
        <!-- Head -->
        <thead>
            <tr>
                <th>Type</th>
                <th>Category</th>
                <th>Date</th>
                <th>Amount(CHE)</th>
            </tr>
        </thead>

        <!-- Body -->
        <tbody>

            <!-- Row -->
            {% for trans in transactions %}
            <tr>
                <!-- Account -->
                <td>
                    {% for account in accounts %}
                        {% if account.id == trans.account_id %}
                            {{ account.account_name}}
                        {% endif %}
                    {% endfor %}
                </td>

                <!-- Type -->
                <td>
                    {{ trans.trans_type }}
                </td>

                <!-- Category -->
                <td>
                    {{ trans.category }}
                </td>

                <!-- Date -->
                <td>
                    {{ trans.trans_date }}
                </td>

                <!-- Ammount -->
                <td>
                    {{ trans.amount_cents }}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>


    <!-- Charts -->
    <h2>Dashboard - {{ month_name }} {{  month_year }}</h2>
    <h2> From - {{ start }} to {{ end }}</h2>
    <h3>plot</h3>
    <img src="{{ chart }}">

    <h3>bar</h3>
    <img src="{{ bar }}">

    <h3>Pie</h3>
    <img src="{{ pie }}">

{% endblock %}