{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
    <h1>Transactions</h1>

    <!-- Table to show user expense transactions-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Category</th>
                <th>Date</th>
                <th>Amount(CHE)</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in transactions %}
            <tr>
                <td>
                    {{ trans.type }}
                </td>
                <td>
                    {{ trans.category }}
                </td><td>
                    {{ trans.date }}
                </td><td>
                    {{ trans.amount }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>
                    Cash flow:
                </td>
                <td>
                    {{ totIncome - totExpense }}
                </td>
            </tr>
        </tfoot>
    </table>

    <!-- From to input expenses -->
    <form action="/" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Amount(CHE)</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>
                            <div class="mb-3">
                                <select class="form-control" name="type">
                                    {% for type in types %}
                                        <option value="{{ type }}">{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                        </td>
                        <td>
                            <div class="mb-3">
                                <select class="form-control" name="category">
                                    {% for category in categories %}
                                        <option value="{{ category }}">{{ category }}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                        </td>
                        <td>
                            <div class="mb-3">
                                <input autocomplete="off" class="form-control mx-auto w-auto" min="0.00" name="amount" placeholder="€0.00" required step="0.01" type="number">
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <input autocomplete="off" class="form-control mx-auto w-auto" name="date" placeholder="today" required type="date">
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-primary" name="addExpense" type="submit">Add Expense</button>
                        </td>
                    </tr>
            </tbody>
        </table>
    </form>
{% endblock %}