{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
    <h1>{{ user.username }} Dashboard</h1>

    <!-- User Date Selection-->
    <p>Select dates</p>
    <form action="/get_charts" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="start" placeholder="start date" required type="date">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="end" placeholder="end date" required type="date">
        </div>
         <button class="btn btn-primary" name="addExpense" type="submit">submit</button>
    </form>

    <!-- Table to show user expense transactions-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Category</th>
                <th>Date</th>
                <th>Amount(CHE)</th>
            </tr>
        </thead>
        <tbody>
            {% for trans in transactions %}
            <tr>
                <td>
                    {{ trans.trans_type }}
                </td>
                <td>
                    {{ trans.category }}
                </td><td>
                    {{ trans.trans_date }}
                </td><td>
                    {{ trans.amount_cents }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Charts -->
    <h1>plot</h1>
    <img src="{{ chart }}">

    <h1>bar</h1>
    <img src="{{ bar }}">

    <h1>Pie</h1>
    <img src="{{ pie }}">

{% endblock %}